.container{
    width: 200px;
    height: 200px;
}

.red{
    background-color: rgb(219, 168, 168);
}

.green{
    background-color: rgb(177, 206, 177);
}

.blue{
    background-color: rgb(154, 200, 226);
}

.selected{
    background-color: rgb(180, 176, 176);
}